:root {
  --color-high: #25282B;
  --color-md: #828282;
  --color-low: #9A9FA8;
  --color-line: #25282B;
  --color-yellow: #FDC435;
  --color-gray: #F9FAFF;
  --color-gray-2: #e9e9e9;
  --color-white: #FFFFFF;
}