$md: 576px;
$ls: 992px;
$xl: 1280px;

:root {
  --max-width: 100%;
  --padding: 20px;
}

@media screen and (min-width: $md) {
}

@media screen and (min-width: $ls) {
}

@media screen and (min-width: $xl) {
  :root {
    --max-width: 1280px;
  }
}
