footer {
	min-height: 350px;
	position: relative;
	width: 100vw;
	overflow: hidden;

	>svg {
		position: absolute;
		left: 0;
		bottom: -40px;
		width: 100%;
		height: auto;
	}

	>div {
		z-index: 5;
		position: relative;
	}

	p {
		font-size: 16px;
		text-align: center;
		color: var(--color-md);
	}
}