footer {
	position: relative;
	width: 100vw;
	overflow: hidden;
	@media screen and (min-width: $md) {
		min-height: 350px;
	}

	>svg {
		position: absolute;
		left: 0;
		bottom: 0px;
		width: 100%;
		height: auto;
	  @media screen and (min-width: $md) {
			bottom: -40px;
		}
	}

	>div.container {
		z-index: 5;
		position: relative;
		margin-bottom: 60px;
	  @media screen and (min-width: $md) {
			margin-bottom: 0;
		}
	}

	p {
		font-size: 16px;
		text-align: center;
		color: var(--color-md);
	}
}