.intro {
  @media screen and (min-width: 992px) {
    display: flex;
    .left, .right {
      width: 50%;
    }
  }

  .left {
    .left-content {
      small {
        margin-bottom: 5px;
      }

      h1 {
        font-size: 32px;
        @media screen and (min-width: 992px) {
          font-size: 64px;
        }
      }

      >p {
        margin: 15px 0;
        color: var(--color-md);
        font-size: 18px;
        @media screen and (min-width: 992px) {
          font-size: 24px;
        }
      }

      .btn-list {
        display: flex;
        gap: 20px;
      }
    }
  }
  .right {
    flex: 1;
    img {
      margin-left: auto;
      margin-top: -86px;
      z-index: -1;
      position: relative;
    }
  }
}
