.logo {
  width: 45px;
  flex-shrink: 0;
  z-index: 11;

  img {
    max-width: 100%;

    @keyframes float {
      0% { transform: translateY(0px); }
      50% { transform: translateY(-20px); }
      100% { transform: translateY(0px); }
    }
  }

  @media screen and (min-width: 992px) {
    width: 70px;
    img {
      animation: float 4s ease-in-out infinite;
    }
  }
}