header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 12px;
  max-height: 102px;
}

footer {
  margin-top: 80px;
}

.container  {
  max-width: var(--max-width);
  margin: auto;
  padding: var(--padding);
}
